@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #252627;
}

.reviews-slider {
  width: 100%;
}

.reviews-slider .swiper-slide {
  width: auto !important;
}

.reviews-slider .swiper-slide .relative {
  display: flex;
}

.pta4u-hero-slider .swiper-pagination-bullet {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  opacity: 0.7;
}
.pta4u-hero-slider .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: white;
  border-color: transparent;
}

.div:hover {
  background-color: #f2f2f2;
}

.div:hover button {
  background-image: linear-gradient(to right, #f55751, #d83ca3);
  color: white;
}

.slider {
  margin: 0 15px;
  overflow: 'hidden';
  padding: 0rem 0;
}

.slider img {
  min-width: 384px;
  height: 250px;
  border-radius: 25px;
}

.react-multi-carousel-list {
  padding: 0rem 0 1rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 255, 255);
  opacity: 0;
}
.custom-dot-list-style {
  border: none;
  background: rgb(255, 255, 255);
  opacity: 0;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
  opacity: 0;
}

.react-multiple-carousel__arrow--right {
  position: absolute;
  z-index: 50;
  top: 105px !important;
  right: -0px !important;
}

.react-multiple-carousel__arrow--left {
  position: absolute;
  z-index: 50;
  top: 105px !important;
  left: -0px !important;
}

.formFL img {
  display: none;
}
/* .formFL.shadows,
.formM.shadows,
.formS.shadows {
} */
.hamburger-menu {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: white;
  z-index: 999;
  padding: 40px;
}
.object-cover {
  width: 100%;
}
